@media only screen and (min-width:300px){
    .header{
        height: 4rem;

        background-color: $light_gray;
        display: flex;
        justify-content: space-between;
        align-items: center;

        // to position the mobile menu
        position: relative;
        z-index: 1000;
    }
}
