@media only screen and (min-width:300px){
    .intro{
        position: relative;
        &__img_desktop{
            display: none;
        }
        &__img_mobile{
            position: absolute;
            left: 0;
        }
        &__desktop_pattern{
            display: none;
        }
        &__mobile_pattern{
            position: absolute;
            top: 451px;
            z-index: -2;
            &--left{
                left: 0;
            }
            &--right{
                right: 0;
                top: unset;
                bottom: -20%;
                z-index: 1;
            }
        }
        &__text_wrap{
            // has to be at least 28rem to move it out of the images way;
            padding-top: 28rem;
            color: $light_gray;
            text-align: center;
        }
        &__heading{
            padding-top: 6rem;
            font-size: 2.95rem;
            line-height: 3rem;

            margin-bottom: 1rem;
            position: relative;
        }
        &__paragraph{
            margin-bottom: 2rem;
        }
        &__button{
            text-transform: uppercase;
            padding: .5em 2.25em;
            border: 2px solid $light_gray;
            color: $light_gray;
            background-color: transparent;
            cursor: pointer;

            margin-bottom: 5rem;
            &:hover,&:active{
                background-color: $light_gray;
                color: $dark_violet;
            }
        }
    }
}

@media only screen and (min-width:1024px){
    .intro{
        &__img_desktop{
            max-width: 512px;
            width: 35.5%;
        }
    }
}

@media only screen and (min-width:1350px){
    .intro{
        &__img_desktop{
            width: 512px;
        }
    }
}

@media only screen and (min-width:1024px){
    .intro{
        &__img_desktop{
            display: block;
            position: absolute;
            right: 10rem;
            top: 5rem;
            z-index: 10;
        }
        &__img_mobile{
            display: none;
        }
        &__text_wrap{
            width: 48%;
            padding: 0;
            padding-top: 3rem;
            padding-bottom: 5rem;
            text-align: left;
            &::before{
                position: absolute;
                content: "";
                width: 10%;
                height: 2px;
                background-color: $light_gray;
                top: 5.5rem;
            }
        }
        &__heading{
            font-size: 4rem;
            padding-right: 4rem;
            line-height: 4rem;
        }
        &__button{
            font-weight: bold;
            letter-spacing: 0.2rem;
            padding: .75em 2em;
        }
        &__mobile_pattern{
            display: none;
        }
        &__desktop_pattern{
            display: block;
            position: absolute;
            &--right{
                top: -5rem;
                right: -2rem;
                z-index: 100;
            }
            &--left{
                left: 0;
                bottom: -58%;
                z-index: 10;
            }
        }
    }
}