@media only screen and (min-width:300px){
    .main{
        background-color: #FFFFFF;
        padding-top: 12em;
        padding-bottom: 8em;
        text-align: center;

        position: relative;
        // the decorative purple line on the very top
        &::before{
            content: "";
            position: absolute;
            width: 50%;
            height: 2px;
            background-color: #B5A4B6;
            left: 25%;
            top: 9rem;
        }
        &__article{
            margin-bottom: 5rem;
        }
        &__heading{
            font-size: 3rem;
            margin-bottom: 5rem;
            &--small{
                font-size: 2rem;
                margin-bottom: 1rem;
            }
            &--white{
                color: $light_gray;
                font-size: 2.5rem;
                margin-bottom: 2rem;
                position: relative;
                z-index: 2;
            }
        }
        &__image{
            margin-bottom: 1.5rem;
        }
        &__paragraph{
            color: $dark_gray;
        }
        &__pattern{
            position: absolute;
            pointer-events: none;
            &--desktop{
                display: none;
            }
            &--mobile{
                top: 0;
                right: 0;
            }
        }
        &__cta{
            background-color: $dark_violet;
            padding: 4em 0;
            position: relative;
        }
        &__button{
            background-color: transparent;
            color: $light_gray;
            background-color: $dark_violet;
            border: 2px solid $light_gray;
            text-transform: uppercase;
            letter-spacing: 0.07rem;
            font-weight: bold;
            padding: 0.5em 2em;
            cursor: pointer;

            &:hover,&:active{
                background-color: $light_gray;
                color: $dark_violet;
            }
        }
    }
}

@media only screen and (min-width:1440px){
    .main{
        padding-top: 23rem;
        &::before{
            top: 27%;
            left: 11%;
            width: 10%;
        }
        &__article_wrap{
            display: flex;
            justify-content: space-between;
        }
        &__heading{
            text-align: left;
            font-size: 4rem;
            &--small{
                font-size: 2rem;
            }
            &--white{
                width: 50%;
                font-size: 3.5rem;
                margin: 0;
            }

        }
        &__article{
            text-align: left;
            margin: 0;
            width: 32%;
            margin-bottom: 10rem;
        }
        &__pattern{
            &--desktop{
                display: block;
                top: 0;
                right: 0;
            }
            &--mobile{
                display: none;
            }
        }
        &__cta{
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 3rem 4rem;
        }
        &__button{
            position: relative;
            z-index: 10;
            padding: 0.75em 1.75em;
        }
    }
}