@import url("https://fonts.googleapis.com/css?family=Karla:400,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=DM+Serif+Display&display=swap");
body {
  font-size: 16px;
}

body {
  font-family: 'Karla', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'DM Serif Display', serif;
  font-weight: 400;
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media only screen and (min-width: 300px) {
  body {
    background-color: #2d2640;
  }
  .page_wrap {
    max-width: 375px;
    width: 100%;
    margin: auto;
    overflow: hidden;
  }
  .page_wrap header, .page_wrap section, .page_wrap footer {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}

@media only screen and (min-width: 1440px) {
  .page_wrap {
    max-width: 1440px;
  }
  .page_wrap header, .page_wrap section, .page_wrap footer {
    padding-left: 10rem;
    padding-right: 10rem;
  }
}

@media only screen and (min-width: 300px) {
  .header {
    height: 4rem;
    background-color: #fafafa;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
  }
}

@media only screen and (min-width: 300px) {
  .menu {
    width: 100%;
    height: 587px;
    background-color: #2b272f;
    padding: 1.5em 1.5em 0em 1.5em;
    position: absolute;
    z-index: 10000;
    top: 4rem;
    left: 0;
    list-style: none;
    height: 0;
    overflow: hidden;
    padding-top: 0;
    -webkit-transition: all 250ms ease;
    transition: all 250ms ease;
  }
  .menu__checkbox {
    display: none;
  }
  .menu__icon_close, .menu__icon_open {
    cursor: pointer;
    width: 32px;
    margin: 0;
    padding: 0;
  }
  .menu__icon_close {
    display: none;
  }
  .menu__item {
    color: #fafafa;
    text-transform: uppercase;
    font-size: 1.5rem;
    letter-spacing: .1rem;
    font-weight: bold;
    width: 100%;
    padding: .75em 0;
    margin-bottom: 4px;
    display: -ms-grid;
    display: grid;
    place-items: center center;
    border: 2px solid #2b272f;
    -webkit-transition: all 250ms ease;
    transition: all 250ms ease;
  }
  .menu__item:hover, .menu__item:active {
    border: 2px solid #fafafa;
    cursor: pointer;
  }
  .menu__pattern {
    position: absolute;
    bottom: 0;
    right: 0;
  }
  .menu__item, .menu__pattern {
    opacity: 0;
  }
  .menu__checkbox:checked ~ label .menu__icon_close {
    display: block;
    margin-top: -4px;
  }
  .menu__checkbox:checked ~ label .menu__icon_open {
    display: none;
  }
  .menu__checkbox:checked ~ .menu {
    height: 587px;
    padding-top: 1.5em;
  }
  .menu__checkbox:checked ~ .menu .menu__item, .menu__checkbox:checked ~ .menu .menu__pattern {
    opacity: 1;
  }
  .menu__checkbox:checked ~ .menu .menu__pattern {
    -webkit-transition: all 1500ms ease;
    transition: all 1500ms ease;
  }
}

@media only screen and (min-width: 1440px) {
  .menu, #menu__checkbox:checked ~ .menu {
    position: initial;
    top: initial;
    bottom: initial;
    width: auto;
    height: auto;
    background-color: transparent;
    padding: 0;
    margin: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-right: -1em;
  }
  .menu__item, #menu__checkbox:checked ~ .menu__item {
    opacity: 1;
    color: #837d87;
    border: none;
    margin: 0;
    padding: 0;
    font-size: 0.9rem;
    width: auto;
    -webkit-transition: all 100ms ease;
    transition: all 100ms ease;
    padding: 0.5em 1em;
  }
  .menu__item:hover, #menu__checkbox:checked ~ .menu__item:hover {
    border: none;
    color: #2b272f;
  }
  .menu__item:active, #menu__checkbox:checked ~ .menu__item:active {
    background-color: #2b272f;
    color: #fafafa;
  }
  .menu__pattern, #menu__checkbox:checked ~ .menu__pattern {
    display: none;
  }
  .menu__label, #menu__checkbox:checked ~ .menu__label {
    display: none;
  }
}

@media only screen and (min-width: 300px) {
  .intro {
    position: relative;
  }
  .intro__img_desktop {
    display: none;
  }
  .intro__img_mobile {
    position: absolute;
    left: 0;
  }
  .intro__desktop_pattern {
    display: none;
  }
  .intro__mobile_pattern {
    position: absolute;
    top: 451px;
    z-index: -2;
  }
  .intro__mobile_pattern--left {
    left: 0;
  }
  .intro__mobile_pattern--right {
    right: 0;
    top: unset;
    bottom: -20%;
    z-index: 1;
  }
  .intro__text_wrap {
    padding-top: 28rem;
    color: #fafafa;
    text-align: center;
  }
  .intro__heading {
    padding-top: 6rem;
    font-size: 2.95rem;
    line-height: 3rem;
    margin-bottom: 1rem;
    position: relative;
  }
  .intro__paragraph {
    margin-bottom: 2rem;
  }
  .intro__button {
    text-transform: uppercase;
    padding: .5em 2.25em;
    border: 2px solid #fafafa;
    color: #fafafa;
    background-color: transparent;
    cursor: pointer;
    margin-bottom: 5rem;
  }
}

@media only screen and (min-width: 300px) {
  .main {
    background-color: #FFFFFF;
    padding-top: 12em;
    padding-bottom: 8em;
    text-align: center;
    position: relative;
  }
  .main::before {
    content: "";
    position: absolute;
    width: 50%;
    height: 2px;
    background-color: #B5A4B6;
    left: 25%;
    top: 9rem;
  }
  .main__article {
    margin-bottom: 5rem;
  }
  .main__heading {
    font-size: 3rem;
    margin-bottom: 5rem;
  }
  .main__heading--small {
    font-size: 2rem;
    margin-bottom: 1rem;
  }
  .main__heading--white {
    color: #fafafa;
    font-size: 2.5rem;
    margin-bottom: 2rem;
    position: relative;
    z-index: 2;
  }
  .main__image {
    margin-bottom: 1.5rem;
  }
  .main__paragraph {
    color: #837d87;
  }
  .main__pattern {
    position: absolute;
    pointer-events: none;
  }
  .main__pattern--desktop {
    display: none;
  }
  .main__pattern--mobile {
    top: 0;
    right: 0;
  }
  .main__cta {
    background-color: #2d2640;
    padding: 4em 0;
    position: relative;
  }
  .main__button {
    background-color: transparent;
    color: #fafafa;
    border: 2px solid #fafafa;
    text-transform: uppercase;
    letter-spacing: 0.07rem;
    font-weight: bold;
    padding: 0.5em 2em;
    cursor: pointer;
  }
}

@media only screen and (min-width: 300px) {
  .footer {
    background-color: #FAFAFA;
    position: relative;
  }
  .footer__pattern {
    position: absolute;
  }
  .footer__pattern--desktop {
    display: none;
  }
  .footer__pattern--mobile {
    top: 0;
  }
  .footer__logo, .footer__social_wrap {
    position: relative;
    z-index: 2;
  }
  .footer__social {
    padding-top: 5.5em;
    margin-bottom: 5rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
  }
  .footer__social::after {
    position: absolute;
    content: "";
    width: 95%;
    height: 1px;
    background-color: #D9D9D9;
    bottom: -2.75em;
  }
  .footer__logo {
    margin-bottom: 1.75rem;
  }
  .footer__social_wrap {
    width: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer__icon:hover, .footer__icon:active {
    cursor: pointer;
  }
  .footer__icon:hover path, .footer__icon:active path {
    fill: #2b272f;
  }
  .footer__link_wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-transform: uppercase;
    letter-spacing: .1em;
    padding-bottom: 5rem;
  }
  .footer__heading {
    color: #837d87;
    text-transform: uppercase;
    font-family: 'Karla', sans-serif;
    font-weight: bold;
    margin-bottom: 2rem;
  }
  .footer__link_section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 2.5rem;
  }
  .footer__link {
    text-decoration: none;
    color: #2b272f;
    font-weight: bold;
    margin-bottom: 1rem;
  }
  .footer__link:hover {
    text-decoration: underline;
    text-decoration-thickness: 2px;
  }
}
/*# sourceMappingURL=main.css.map */